.header {
    p a{
        padding: 12px 0px;
        position: relative;
      }
      
      p a::before {
        transition: 300ms;
        height: 1px;
        content: "";
        position: absolute;
        background-color: #4b89ff;
        transition-timing-function: ease-out;
        opacity: 0;
      }
      
      p a::before {
        width: 30%;
        bottom: 10px;
      }
      
      p a:hover::before {
        width: 100%;
        opacity: 1;
      }
      
    }