@font-face {
  font-family: 'Optimistic-Display';
  src: local("Optimistic-Display"), url(../fonts/Optimistic_Display_Md.ttf) format("opentype");
}

@font-face {
  font-family: 'Optimistic-Display';
  font-weight: 200;
  src: local("Optimistic-Display"), url(../fonts/Optimistic_Text_Rg.ttf) format("opentype");
}
/*
@font-face {
  font-family: 'Optimistic-Display';
  font-weight: 900;
  src: local("Lato"), url(./fonts/Lato-Bold.otf) format("opentype");
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: local("Lato"), url(./fonts/Lato-Black.otf) format("opentype");
}
*/
