@media only screen and (max-width: 1255px) {
  .body-container {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1199px) {
  .body-container .inner-section {
    margin-left: 24px;
    margin-right: 24px;
  }
.body-container .inner-section_pragaraph-two {
  margin-top: 20px;
  font-size: 16px;
  font-weight: medium;
  color: #fff;
}
.body-container .inner-section img {
  width: 100%;
}
.item {
  width: 80vw;
  margin: 6px;
}
}


@media only screen and (max-width: 1160px) {
  .header {
    display: none;
  }
  .banner .banner-text-container {
    width: 80vw;
    text-align: center;
    font-size: 48px;
  }
}

@media only screen and (max-width: 1023px) {
  .divider {
    padding-top: 64px;
  }
  
}

@media only screen and (max-width: 767px) {
  .banner .banner-text-container {
    font-size: 36px;
  }
  .body-container .inner-section_pragaraph-one {
    font-size: 24px;
    padding: 0px 24px 0px 24px;
    margin-top: 24px;
  }
  
  .body-container .inner-section_pragaraph-two {
    font-size: 16px;
    padding: 0px 24px 24px 24px;
  }
  .item img {
    width: 86px;
  }
}

@media only screen and (max-width: 435px) {
  .item img {
    padding-right: 2px;
  }
  .item-inner-flex div h1 {
    width: 100px;
  }
}

@media only screen and (max-width: 320px) {
  .item {
    padding: 8px 8px 8px 8px;
}
.item-inner-flex {
  justify-content: center;
flex-wrap: wrap;
text-align: center;
}
.item-inner-flex div h1 {
  margin-left: 0px; 
}}
